.container {
    position: fixed;
    max-width: 700px;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    padding: 10px 0;
}

.icon {
    font-size: 30px;
}

.content {
    text-align: center;
}

.title {
    font-weight: 600;
}

